In [2]:
import pandas as pd

import missingno as msno
from datetime import datetime , timedelta
import random 
import numpy as np

## BUSINESS

In [3]:
business_test = pd.read_json(r"D:\VS-workspace\test\data\yelp_academic_dataset_business.json" , lines = True)

In [5]:
business_test.isnull().sum() * 100 / len(business_test)

business_id      0.000000
name             0.000000
address          0.000000
city             0.000000
state            0.000000
postal_code      0.000000
latitude         0.000000
longitude        0.000000
stars            0.000000
review_count     0.000000
is_open          0.000000
attributes       9.141580
categories       0.068509
hours           15.446370
dtype: float64

In [6]:
business = pd.read_csv(r"dataset/business_prepared.csv")

In [7]:
business.head(1)

,Unnamed: 0,business_categories,business_city,business_full_address,business_id,business_latitude,business_longitude,business_name,business_open,business_review_count,business_stars,business_state
0,0,Accountants; Professional Services; Tax Servic...,Peoria,"8466 W Peoria Ave\nSte 6\nPeoria, AZ 85345",rncjoVoEFUJGCUoC1JgnUA,33.581867,-112.241596,Peoria Income Tax Service,True,3,5.0,AZ

In [8]:
business = business.reindex(columns = ['Unnamed: 0', 'business_id', 'business_name', 'business_full_address', 'business_city', 'business_state' ,	
                            'business_latitude', 'business_longitude', 'business_stars', 'business_review_count','business_open', "business_categories"])

In [9]:
business.drop(columns = "Unnamed: 0" , axis = 1 , inplace = True)

In [10]:
business.rename(columns = {'business_name': 'name', 'business_full_address':'address', 'business_city':'city', 'business_state':'state' ,	
                            'business_latitude':'latitude', 'business_longitude':'longtitude', 'business_stars':'stars',
                            'business_review_count':'review_count', 'business_open':'is_open', "business_categories":'categories'} , inplace = True)

In [11]:
business.isnull().sum()

business_id     0
name            0
address         0
city            0
state           0
latitude        0
longtitude      0
stars           0
review_count    0
is_open         0
categories      0
dtype: int64

In [12]:
business.to_csv(r"D:\VS-workspace\test\dataset\business.csv" , index = False)

## REVIEW

In [13]:
review = pd.read_csv(r"dataset/review_prepared.csv" )

In [14]:
review.columns

Index(['Unnamed: 0', 'business_categories', 'business_city',
       'business_full_address', 'business_id', 'business_latitude',
       'business_longitude', 'business_name', 'business_open',
       'business_review_count', 'business_stars', 'business_state', 'cool',
       'date', 'funny', 'review_id', 'reviewer_average_stars',
       'reviewer_blank', 'reviewer_cool', 'reviewer_funny', 'reviewer_name',
       'reviewer_review_count', 'reviewer_useful', 'stars', 'text', 'useful',
       'user_id'],
      dtype='object')

In [15]:
review.drop(columns = ['Unnamed: 0', 'business_categories', 'business_city',
       'business_full_address', 'business_latitude',
       'business_longitude', 'business_name', 'business_open',
       'business_review_count', 'business_stars', 'business_state',
       'cool', 'funny',  'reviewer_average_stars',
       'reviewer_blank', 'reviewer_cool', 'reviewer_funny', 'reviewer_name',
       'reviewer_review_count', 'reviewer_useful'
       ],axis = 1,inplace = True)

In [16]:
review.columns

Index(['business_id', 'date', 'review_id', 'stars', 'text', 'useful',
       'user_id'],
      dtype='object')

In [17]:
review = review.reindex(columns = ['review_id', 'user_id', 'business_id', 'stars', 'date', 'text', 'useful'] , level = "Experiment" )

In [18]:
review.head()

,review_id,user_id,business_id,stars,date,text,useful
0,fWKvX83p0-ka4JS3dc6E5A,rLtl8ZkDX5vH5nAx9C3q5Q,9yKzy9PApeiPPOUJEtnvkg,5,2011-01-26,My wife took me here on my birthday for breakf...,5
1,IjZ33sJrzXqU-0X6U8NwyA,0a2KyEL0d3Yb1V6aivbIuQ,ZRJwVLyzEJq1VAihDhYiow,5,2011-07-27,I have no idea why some people give bad review...,0
2,IESLBzqUCLdSzSqm0eCSxQ,0hT2KtfLiobPvh6cDC8JQg,6oRAC4uyJCsJl1X0WZpVSA,4,2012-06-14,love the gyro plate. Rice is so good and I als...,1
3,G-WvGaISbqqaMHlNnByodA,uZetl9T0NcROGOyFfughhg,_1QQZuf4zZOyFCvXc0o6Vg,5,2010-05-27,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",2
4,1uJFq2r5QfJG_6ExMRCaGw,vYmM4KTsC8ZfQBg-j5MWkw,6ozycU1RpktNG2-1BroVtw,5,2012-01-05,General Manager Scott Petello is a good egg!!!...,0

In [19]:
review.to_csv(r"D:\VS-workspace\test\dataset\review.csv" , index = False)

## USER

In [20]:
user = pd.read_csv(r"D:\VS-workspace\test\dataset\user_prepared.csv")

In [21]:
user.columns

Index(['Unnamed: 0', 'reviewer_average_stars', 'reviewer_cool',
       'reviewer_funny', 'reviewer_name', 'reviewer_review_count',
       'reviewer_useful', 'user_id'],
      dtype='object')

In [22]:
user.head()

,Unnamed: 0,reviewer_average_stars,reviewer_cool,reviewer_funny,reviewer_name,reviewer_review_count,reviewer_useful,user_id
0,0,5.0,0,0,Jim,6,7,CR2y7yEm4X035ZMzrTtN9Q
1,1,1.0,0,0,Kelle,2,1,_9GXoHhdxc30ujPaQwh6Ew
2,2,5.0,0,0,Stephanie,2,1,8mM-nqxjg6pT04kwcjMbsw
3,3,5.0,0,0,T,2,2,Ch6CdTR2IVaVANr-RglMOg
4,4,1.0,0,0,Beth,1,0,NZrLmHRyiHmyT1JrfzkCOA

In [23]:
user.columns

Index(['Unnamed: 0', 'reviewer_average_stars', 'reviewer_cool',
       'reviewer_funny', 'reviewer_name', 'reviewer_review_count',
       'reviewer_useful', 'user_id'],
      dtype='object')

In [24]:
user.drop(columns = ['Unnamed: 0', 'reviewer_cool', 'reviewer_funny'] , axis = 1 , inplace = True)

In [25]:
user.columns

Index(['reviewer_average_stars', 'reviewer_name', 'reviewer_review_count',
       'reviewer_useful', 'user_id'],
      dtype='object')

In [26]:
user = user.reindex(columns = ['user_id', 'reviewer_name', 'reviewer_review_count', 'since', 'reviewer_useful', 'fans', 'reviewer_average_stars'])

In [27]:
user.head()

,user_id,reviewer_name,reviewer_review_count,since,reviewer_useful,fans,reviewer_average_stars
0,CR2y7yEm4X035ZMzrTtN9Q,Jim,6,NaN,7,NaN,5.0
1,_9GXoHhdxc30ujPaQwh6Ew,Kelle,2,NaN,1,NaN,1.0
2,8mM-nqxjg6pT04kwcjMbsw,Stephanie,2,NaN,1,NaN,5.0
3,Ch6CdTR2IVaVANr-RglMOg,T,2,NaN,2,NaN,5.0
4,NZrLmHRyiHmyT1JrfzkCOA,Beth,1,NaN,0,NaN,1.0

In [28]:
user.columns

Index(['user_id', 'reviewer_name', 'reviewer_review_count', 'since',
       'reviewer_useful', 'fans', 'reviewer_average_stars'],
      dtype='object')

In [29]:
user.rename(columns = { 'reviewer_name':'name', 'reviewer_review_count':'review_count',
       'reviewer_useful':'useful', 'reviewer_average_stars':'average_stars'} , inplace = True)

In [30]:
user.head()

,user_id,name,review_count,since,useful,fans,average_stars
0,CR2y7yEm4X035ZMzrTtN9Q,Jim,6,NaN,7,NaN,5.0
1,_9GXoHhdxc30ujPaQwh6Ew,Kelle,2,NaN,1,NaN,1.0
2,8mM-nqxjg6pT04kwcjMbsw,Stephanie,2,NaN,1,NaN,5.0
3,Ch6CdTR2IVaVANr-RglMOg,T,2,NaN,2,NaN,5.0
4,NZrLmHRyiHmyT1JrfzkCOA,Beth,1,NaN,0,NaN,1.0

In [31]:
user.to_csv(r'D:\VS-workspace\test\dataset\user.csv' , index = False)